#General
.env
.gitignore
.gitattributes
.git/
.vscode/
.github/

#Python
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.python-version
.pylintrc
.mypy_cache/
venv/

#Readme
README.md

#Ignored Files
datasets/AllPrintings.json
datasets/parsed_cards.json
datasets/variants.json

#Unimportant Files
LICENSE
mtg_gpt.py
test.py

#Text Files
*.txt
!requirements.txt
!Dockerfile.txt

#Unimportant Folders
dataset_builders/
documentation/
tests/
text/