README.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.python-version
.vscode/
venv/
dataset_builders/
MTG_GPT.py
.git/
.gitignore
.gitattributes
.env

*.txt
!requirements.txt

datasets/AllPrintings.json
datasets/CommanderCards.json
datasets/DecksSimple.json
datasets/TaggingLabels.json
datasets/variants.json