#General
.env
.gitignore
.gitattributes
.git/
.vscode/

#Python
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.python-version
venv/

#Readme
README.md

#Ignored Files
datasets/AllPrintings.json
datasets/CommanderCards.json
datasets/DecksSimple.json
datasets/TaggingLabels.json
datasets/variants.json

#Unimportant Files
MTG_GPT.py
test.py

#Text Files
*.txt
!requirements.txt
!Dockerfile.txt

#Unimportant Folders
dataset_builders/
tests/
text/