README.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.python-version
.python-version
.vscode/
venv/
dataset_builders/
!requirements.txt
!datasets/vector_data.pt
!datasets/graph_edges.pt
!datasets/graph_nodes.pt
MTG_GPT.py
*.txt
datasets/